ul,
ol,
li,
p {
  margin: 0;
  padding: 0;
  list-style: none; }

figure,
body,
p {
  margin: 0; }

img {
  vertical-align: top; }

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box; }

body {
  font: 400 20px/1.1 'Lato', sans-serif; }

.item_component__price {
  font-size: 30px;
  font-weight: bold;
  color: black; }

.container {
  margin: 0 auto;
  max-width: 1140px;
  position: relative; }

#container {
  background: #e2e2e2;
  overflow: hidden;
  position: relative; }

.subscription {
  background: white;
  padding-top: 82px;
  padding-bottom: 52px; }

.topsub {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: bold; }

.title-sub {
  display: block;
  text-transform: capitalize;
  font-size: 36px;
  font-weight: normal; }

.raw {
  display: flex;
  justify-content: space-between;
  position: relative;
  padding-left: 196px;
  padding-right: 196px;
  margin-bottom: 20px; }

.label {
  font-size: 14px;
  color: #5a5a5a; }

.contact-form input[type='text'],
.contact-form input[type="email"],
.contact-form input[type='tel'] {
  width: 100%;
  background-color: rgba(150, 150, 150, 0.15);
  font-size: 14px;
  border: none;
  display: block;
  padding: 9px 16px 14px 16px;
  margin-top: 11px; }

.column {
  width: 48%; }

input::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.5); }

.radiobut {
  color: #333;
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 18px;
  cursor: pointer;
  font-size: 14px;
  line-height: 1.5;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.radiobut input {
  position: absolute;
  opacity: 0;
  cursor: pointer; }

.radio {
  position: absolute;
  top: 0;
  left: 0;
  height: 22px;
  width: 22px;
  background: url(../images/radio.svg);
  border-radius: 50%; }

.radiobut input:checked ~ .radio {
  background: url(../images/radio_active.svg); }

.check {
  position: absolute;
  top: 0;
  left: 0;
  height: 22px;
  width: 22px;
  background: url(../images/checkbox.svg); }

.radiobut input:checked ~ .check {
  background: url(../images/checkbox_active.svg); }

.radio01 {
  margin-bottom: 38px; }

.select_holder {
  display: block;
  position: relative;
  height: 40px;
  background: rgba(150, 150, 150, 0.15);
  z-index: 1;
  margin-top: 11px; }
  .select_holder::after {
    content: "";
    position: absolute;
    right: 16px;
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 6px solid black;
    top: 50%;
    margin: -3px 0 0;
    z-index: -1; }
  .select_holder select {
    line-height: 40px;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.5);
    border: 0;
    background: none;
    padding: 0 16px;
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
    width: 100%; }

.depesha {
  width: 24%; }

.cta {
  height: 50px;
  width: 100%;
  background-color: black;
  color: white;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  cursor: pointer; }

#header {
  margin: 16px;
  padding: 16px 0px 25px; }
  #header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto; }

.logo {
  display: inline-block;
  vertical-align: top;
  width: 206px;
  height: 48px;
  overflow: hidden;
  background-image: url("../images/logo_header.png");
  background-repeat: no-repeat; }

.social_links {
  display: flex;
  justify-content: center; }
  .social_links li {
    padding: 0 0 0 24px; }
  .social_links a {
    width: 32px;
    height: 32px;
    display: flex;
    background: white;
    border-radius: 50%;
    align-items: center;
    justify-content: center; }
    .social_links a:hover {
      background: black; }
      .social_links a:hover path {
        fill: white; }
    .social_links a:active {
      background: #e2e2e2; }
      .social_links a:active path {
        fill: black; }

.people {
  width: 100%;
  display: flex;
  margin-bottom: 50px; }
  .people a {
    display: block; }

.hero-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; }
  .hero-box__img01 {
    position: relative;
    margin-right: 10px; }
  .hero-box__img02 {
    max-width: 359px;
    position: relative; }

.quote01 {
  color: white;
  position: absolute;
  font-size: 36px;
  font-style: italic;
  max-width: 470px;
  display: block;
  bottom: 68px;
  left: 32px; }

a.quote {
  text-decoration: none;
  color: white; }

.quote02 {
  color: white;
  position: absolute;
  width: 243px;
  line-height: normal;
  font-size: 26px;
  font-style: italic;
  bottom: 285px;
  left: 32px; }

.telka {
  margin-bottom: 10px; }

.item_top {
  background: #d0dfda;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  position: relative;
  height: 250px;
  padding-left: 32px;
  overflow: hidden; }
  .item_top h2 {
    font-size: 26px;
    font-style: italic;
    max-width: 270px;
    font-weight: normal;
    margin: 0;
    padding-top: 60px; }

.quote_top {
  text-decoration: none;
  color: black; }

.more {
  position: relative;
  color: #4a4a4a;
  text-decoration: none;
  margin: 0;
  font-size: 11px; }
  .more::after {
    background: url(../images/icon_arrow.svg) no-repeat;
    width: 20px;
    height: 12px;
    display: inline-block;
    vertical-align: middle;
    background-position: center;
    padding-left: 30px;
    content: ""; }

.scroll {
  overflow: auto; }

.item_component__price {
  display: block;
  text-align: center;
  padding-top: 70px; }

.notice01 {
  font-size: 12px;
  display: inline-block;
  max-width: 100px;
  text-transform: uppercase;
  text-align: center;
  padding-top: 44px;
  font-weight: bold; }

.notice02 {
  font-size: 12px;
  font-style: italic;
  text-transform: uppercase;
  text-align: center;
  max-width: 100px;
  display: inline-block;
  padding-top: 24px; }

.notice03 {
  max-width: 115px;
  margin-bottom: 22px; }

.vibes {
  max-width: 110px; }

.img02text {
  text-transform: uppercase;
  font-size: 36px;
  font-weight: bold; }

.clothes {
  display: flex; }

.global {
  background: #f3f3f1;
  min-width: 258px;
  min-height: 360px;
  text-align: center;
  margin-right: 36px;
  margin-bottom: 30px; }

.lady {
  background: #f3f3f1;
  min-width: 258px;
  min-height: 360px;
  margin-right: 36px;
  margin-bottom: 30px;
  padding-left: 57px;
  display: flex;
  align-items: stretch; }

.lady_butt {
  position: absolute;
  max-width: 181px;
  margin-left: 263px;
  padding-top: 48px; }

.btn {
  display: inline-block;
  background: #000;
  color: white;
  padding: 1rem 1rem;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: bold;
  min-width: 174px;
  min-height: 50px;
  text-align: center; }

.item-section {
  padding: 0 0 0 calc((100% - 1140px) * 0.5); }

.align {
  padding-top: 62px; }

.style02 {
  background: white; }

.size01 {
  width: 258px;
  height: 458px; }

.size02 {
  min-width: 552px;
  height: 458px;
  position: relative; }

.size03 {
  width: 258px;
  height: 360px; }

.style04 {
  background: #f4e6dc;
  padding-top: 22px; }

.choker {
  width: 51px;
  color: black;
  margin-bottom: 57px; }

.gallery_promocode {
  position: relative;
  background: rgba(239, 239, 239, 0.7); }

.promocode_slide {
  position: relative; }

.gallery_promocode__title {
  text-align: center;
  padding-left: 63px; }

.fashionable_hats {
  text-transform: uppercase;
  font-size: 50px;
  font-style: italic;
  font-weight: normal;
  letter-spacing: 4px;
  max-width: 358px;
  text-align: center;
  padding-bottom: 26px;
  margin: 0; }

.get_promo {
  font-size: 12px;
  font-style: italic;
  text-transform: uppercase;
  text-align: center;
  background: rgba(239, 239, 239, 0.7);
  border: solid 1px #bfbfbf;
  width: 222px;
  padding: 14px 10px; }

.scroll_foto {
  margin: -50px 0 0; }

.slide {
  display: flex;
  align-items: center;
  justify-content: space-between; }

.arrow_previous {
  background-image: url(../images/arrow_prev.svg);
  position: absolute;
  bottom: 230px;
  height: 40px;
  width: 40px; }

.arrow_next {
  background-image: url(../images/arrow_next.svg);
  position: absolute;
  right: 0px;
  bottom: 230px;
  height: 40px;
  width: 40px; }

.coming_soon {
  background: white; }

.event01 {
  border: solid 1px #e5e5e5;
  padding: 25px 20px 20px 29px;
  width: 268px;
  height: 320px;
  display: inline-block;
  margin-right: 18px;
  margin-bottom: 33px; }

.event02 {
  margin-right: 0; }

.coming_soon__title {
  text-transform: capitalize;
  font-size: 44px;
  font-style: italic;
  font-weight: normal;
  margin: 0 0 63px 0;
  text-align: center;
  padding-top: 32px; }

.events_topic {
  font-size: 11px;
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #848484;
  margin: 0 0 11px 0; }

.events_time {
  font-size: 50px;
  min-width: 153px;
  margin-bottom: 31px; }

.events_name {
  font-size: 20px;
  font-weight: 300;
  text-transform: capitalize; }

.more01 {
  position: relative;
  color: #b8b8b8;
  text-decoration: none;
  margin: 0;
  font-size: 11px;
  letter-spacing: 1px; }
  .more01::after {
    background: url(../images/arrow_long.svg) no-repeat;
    width: 20px;
    height: 12px;
    display: inline-block;
    vertical-align: middle;
    background-position: center;
    padding-left: 40px;
    content: ""; }

.arrow_previous01 {
  background-image: url(../images/arrow_prev.svg);
  position: absolute;
  right: 50px;
  bottom: 0;
  height: 40px;
  width: 40px; }

.arrow_next01 {
  background-image: url(../images/arrow_next.svg);
  position: absolute;
  right: 0px;
  bottom: 0;
  height: 40px;
  width: 40px; }

.gallery_instagram {
  background: white; }

.coming_soon__title {
  margin-bottom: 15px; }

.gallery_instagram__hr {
  width: 45px;
  background: #d8d8d8;
  margin-bottom: 80px; }

.gallery_instagram__foto {
  min-width: 250px;
  min-height: 250px;
  margin-right: 40px; }

.gallery_instagram__foto01 {
  min-width: 120px;
  min-height: 250px;
  margin-right: 40px; }

.gallery_instagram__style {
  padding-top: 22px; }

.mobile_app {
  background: white;
  padding: 33px 0; }

.mobile_app__columns {
  display: flex;
  justify-content: space-between;
  width: 60%; }

.mobile_app__download {
  max-width: 361px; }
  .mobile_app__download h2 {
    text-transform: capitalize;
    font-size: 58px; }
  .mobile_app__download h5 {
    font-size: 20px;
    font-weight: 300;
    line-height: 1.5; }
  .mobile_app__download p {
    font-size: 14px;
    font-style: italic;
    margin-bottom: 7px; }
  .mobile_app__download q {
    display: inline-block;
    font-size: 14px;
    font-style: italic;
    color: #848484;
    quotes: none;
    line-height: 1.57; }

.mobile_app__download__button {
  margin: 0 10px 0 0; }

.mobile_app__download__feedback {
  display: flex;
  flex-direction: row;
  padding-top: 41px; }

.mobile_app__download__ava {
  margin-right: 10px; }

.1 {
  display: inline-block; }

#footer {
  background: black;
  padding: 54px 0; }

.footer {
  display: flex;
  justify-content: space-between; }

.footer__logo {
  width: 206px;
  height: 48px;
  overflow: hidden;
  background-image: url("../images/logo_footer.svg");
  background-repeat: no-repeat; }

.footer__copyright {
  color: white;
  font-size: 14px;
  padding-top: 17px; }

.footer__icons {
  padding-top: 17px; }

.footer__icons__img {
  margin-right: 30px; }
