html,
body,
ul,
ol {
  margin: 0;
  padding: 0; }

img {
  vertical-align: top; }

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.item_component__price {
  font-size: 30px;
  font-weight: bold;
  color: black; }

#header {
  margin: 16px; }
  #header .container {
    display: flex;
    justify-content: space-between;
    align-items: center; }

body {
  font: 400 20px/1.1 'Lato', sans-serif; }

.container {
  margin: 0 auto;
  max-width: 1140px; }

#container {
  background: #e2e2e2;
  overflow: hidden;
  position: relative; }

.logo {
  display: inline-block;
  vertical-align: top;
  width: 206px;
  height: 55px;
  overflow: hidden;
  background-image: url("../images/daydream-logo.png");
  background-repeat: no-repeat; }

.social_links {
  list-style: none;
  display: flex;
  justify-content: center; }

a.social_links {
  width: 32px;
  height: 32px;
  display: flex;
  margin-left: 10px;
  background: white;
  border-radius: 50%;
  align-items: center;
  justify-content: center; }
  a.social_links:hover {
    background: black; }
    a.social_links:hover path {
      fill: white; }
  a.social_links:active {
    background: #e2e2e2; }
    a.social_links:active path {
      fill: black; }

.people {
  width: 100%;
  display: flex; }

.hero-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; }
  .hero-box__img01 {
    position: relative;
    margin: 0; }
  .hero-box__img02 {
    max-width: 359px;
    margin-left: 10px;
    position: relative;
    margin-top: 0; }

.quote01 {
  color: white;
  position: absolute;
  font-size: 36px;
  font-style: italic;
  max-width: 470px;
  display: block;
  bottom: 68px;
  left: 32px; }

a.quote {
  text-decoration: none;
  color: white; }

.quote02 {
  color: white;
  position: absolute;
  width: 243px;
  line-height: normal;
  font-size: 26px;
  font-style: italic;
  bottom: 285px;
  left: 32px; }

.item_top {
  background: #d0dfda;
  display: flex;
  align-items: center;
  position: relative;
  height: 250px;
  margin-top: 10px; }

.quote_top {
  text-decoration: none;
  color: black; }

h2 {
  padding: 0;
  font-family: Lato;
  font-size: 26px;
  font-style: italic;
  margin-left: 32px;
  max-width: 270px;
  font-weight: normal; }

.button {
  position: absolute;
  bottom: 33px;
  left: 33px;
  color: #4a4a4a;
  text-decoration: none;
  font-size: 11px; }

.arrow {
  max-width: 11px;
  position: absolute;
  left: 124px;
  bottom: 35px; }

.scroll {
  overflow: auto; }

.item_component__price {
  display: block;
  text-align: center; }

.notice {
  margin-top: 44px;
  font-size: 12px;
  margin-left: 85px;
  max-width: 105px;
  text-transform: uppercase; }

.clothes {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex; }

.global {
  background: #f3f3f1;
  margin: 36px 30px 0 0;
  min-width: 258px;
  min-height: 360px; }

.style02 {
  background: white; }

.size01 {
  width: 258px;
  height: 458px; }

.size02 {
  width: 552px;
  height: 458px; }

.size03 {
  width: 258px;
  height: 360px; }

.style04 {
  background: #f4e6dc; }
