html,
body,
ul,
ol,
li,
p {
  margin: 0;
  padding: 0; }

figure {
  margin: 0; }

img {
  vertical-align: top; }

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box; }

body {
  font: 400 20px/1.1 'Lato', sans-serif; }

.item_component__price {
  font-size: 30px;
  font-weight: bold;
  color: black; }

.container {
  margin: 0 auto;
  max-width: 1140px; }

.people {
  width: 100%;
  display: flex;
  margin-bottom: 50px; }
  .people a {
    display: block; }

.hero-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; }
  .hero-box__img01 {
    position: relative;
    margin-right: 10px; }
  .hero-box__img02 {
    max-width: 359px;
    position: relative; }

.quote01 {
  color: white;
  position: absolute;
  font-size: 36px;
  font-style: italic;
  max-width: 470px;
  display: block;
  bottom: 68px;
  left: 32px; }

a.quote {
  text-decoration: none;
  color: white; }

.quote02 {
  color: white;
  position: absolute;
  width: 243px;
  line-height: normal;
  font-size: 26px;
  font-style: italic;
  bottom: 285px;
  left: 32px; }

.telka {
  margin-bottom: 10px; }

.item_top {
  background: #d0dfda;
  display: flex;
  align-items: center;
  position: relative;
  height: 250px;
  padding-left: 32px;
  overflow: hidden; }
  .item_top h2 {
    padding: 0;
    font-family: Lato;
    font-size: 26px;
    font-style: italic;
    max-width: 270px;
    font-weight: normal;
    margin: 0; }

.quote_top {
  text-decoration: none;
  color: black; }

.more {
  position: relative;
  color: #4a4a4a;
  text-decoration: none;
  margin: 0;
  font-size: 11px; }

.more::before {
  background-image: url(../images/icon_arrow.png);
  width: 19.5px;
  height: 12px;
  float: right;
  background-position: center;
  content: "";
  top: 50%; }

.scroll {
  overflow: auto; }

.item_component__price {
  display: block;
  text-align: center; }

.notice {
  font-size: 12px;
  max-width: 105px;
  text-transform: uppercase;
  display: inline-block;
  text-align: center;
  padding-top: 44px; }

.clothes {
  list-style: none;
  display: flex; }
  .clothes li {
    padding-right: 36px; }

.global {
  background: #f3f3f1;
  min-width: 258px;
  min-height: 360px; }

.style02 {
  background: white; }

.size01 {
  width: 258px;
  height: 458px; }

.size02 {
  width: 552px;
  height: 458px; }

.size03 {
  width: 258px;
  height: 360px; }

.style04 {
  background: #f4e6dc; }

#header {
  padding: 16px 0px 25px; }
  #header .container {
    display: flex;
    justify-content: space-between;
    align-items: center; }

#container {
  background: #e2e2e2;
  overflow: hidden;
  position: relative; }

.logo {
  display: inline-block;
  vertical-align: top;
  width: 206px;
  height: 48px;
  overflow: hidden;
  background-image: url("../images/daydream-logo.png");
  background-repeat: no-repeat; }

.social_links {
  list-style: none;
  display: flex;
  justify-content: center; }
  .social_links li {
    padding: 0 0 0 24px; }
  .social_links a {
    width: 32px;
    height: 32px;
    display: flex;
    background: white;
    border-radius: 50%;
    align-items: center;
    justify-content: center; }
    .social_links a:hover {
      background: black; }
      .social_links a:hover path {
        fill: white; }
    .social_links a:active {
      background: #e2e2e2; }
      .social_links a:active path {
        fill: black; }
