
#header {
  margin: $basic-margin;
  padding: 16px 0px 25px;
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
  }
}
.logo {
  display: inline-block;
  vertical-align: top;
  width: 206px;
  height: 48px;
  overflow: hidden;
  background-image: url("../images/daydream-logo.png");
  background-repeat: no-repeat;
}
.social_links {
  display: flex;
  justify-content: center;
    li {
      padding: 0 0 0 24px;
    }
    a {
     width: 32px;
     height: 32px;
     display: flex;
     background: $color01;
     border-radius: 50%;
     align-items: center;
     justify-content: center;
     &:hover {
       background: black;
       path {
         fill: white;
       }
     }
     &:active {
       background: $basic-color;
       path {
         fill: black;
       }
     }
   }
  }
