
.people {
  width: 100%;
  display: flex;
  margin-bottom: 50px;
  a {
    display: block;
  }
}
.hero-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  &__img01 {
    position: relative;
    margin-right: 10px;
  }
  &__img02 {
    max-width: 359px;
    position: relative;
  }
}
.quote01 {
  color: $color-quote;
  position: absolute;
  font-size: 36px;
  font-style: italic;
  max-width: 470px;
  display: block;
  bottom: 68px;
  left: 32px;
}
a.quote {
  text-decoration: none;
  color: $color-quote;
}
.quote02 {
  color: $color-quote;
  position: absolute;
  width: 243px;
  line-height: normal;
  font-size: 26px;
  font-style: italic;
  bottom: 285px;
  left: 32px;
}
.telka {
  margin-bottom: 10px;
}
.item_top {
  background: #d0dfda;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  position: relative;
  height: 250px;
  padding-left: 32px;

  overflow: hidden;
  h2 {
    font-size: 26px;
    font-style: italic;
    max-width: 270px;
    font-weight: normal;
    margin: 0;
    padding-top: 60 px;
  }
}
.quote_top {
  text-decoration: none;
  color: black;

}
.more {
  position: relative;
  color: #4a4a4a;
  text-decoration: none;
  margin: 0;
  font-size: 11px;
}
.more::before {
 background-image:url(../images/icon_arrow.png);
 width:19.5px;
 height:12px;
 float: right;
 background-position: center;
 content:"";
 top:50%;

}
.scroll {
  overflow: auto;
}
.item_component__price {
  @extend %font-large;
  display: block;
  text-align: center;
  padding-top: 70px;
}
.notice01 {
  font-size: 12px;
  display: inline-block;
  max-width: 100px;
  text-transform: uppercase;
  text-align: center;
  padding-top: 44px;
  font-weight: bold;
}
.notice02 {
  font-size: 12px;
  font-style: italic;
  text-transform: uppercase;
  text-align: center;
  max-width: 100px;
  display: inline-block;
  padding-top: 24px;
}
.notice03 {
  max-width: 115px;
  margin-bottom: 22px;
}
.vibes {
  max-width: 110px;
}
.img02text {
  text-transform: uppercase;
  font-size: 36px;
  font-weight: bold;
}
.clothes {
  display: flex;

}
.global {
  background: #f3f3f1;
  min-width: 258px;
  min-height: 360px;
  text-align: center;
  margin-right: 36px;
  margin-bottom: 30px;
}
.lady {
  background: #f3f3f1;
  min-width: 258px;
  min-height: 360px;
  margin-right: 36px;
  margin-bottom: 30px;
  padding-left: 57px;
  display: flex;
  align-items: stretch;
}
.lady_butt {
  position: absolute;
  max-width: 181px;
  margin-left: 263px;
  padding-top: 48px;
}
.btn {
  display: inline-block;
    background: #000000;
    color: #ffffff;
    padding: 1rem 1rem;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;
    min-width: 174px;
    min-height: 50px;
    text-align: center;
}
.align {
  padding-top: 62px;
}
.style02 {
  background: $color-back;
}
.size01 {
  width: 258px;
  height: 458px;
}
.size02 {
width: 552px;
height: 458px;
}
.size03 {
  width: 258px;
  height: 360px;
}
.style04 {
  background: #f4e6dc;
  padding-top: 22px;
}
.choker {
  width: 51px;
  color: black;
  margin-bottom: 57px;
}
