.gallery_instagram {
  background: $color01;
}
.coming_soon__title {
  margin-bottom: 15px;
}
.gallery_instagram__hr {
  width: 45px;
  background: $color11;
  margin-bottom: 80px;
}
.gallery_instagram__foto {
  min-width: 250px;
  min-height: 250px;
  margin-right: 40px;
}
.gallery_instagram__foto01 {
  min-width: 120px;
  min-height: 250px;
  margin-right: 40px;
}
.gallery_instagram__style {
  padding-top: 22px;
}
