.gallery_promocode {
  position: relative;
  background: rgba($color07, 0.7);
}
.promocode_slide {
  position: relative;
}
.gallery_promocode__title {
  text-align: center;
  padding-left: 63px;
}
.fashionable_hats {
  text-transform: uppercase;
  font-size: 50px;
  font-style: italic;
  font-weight: normal;
  letter-spacing: 4px;
  max-width: 358px;
  text-align: center;
  padding-bottom: 26px;
  margin: 0;
}
.get_promo {
  font-size: 12px;
  font-style: italic;
  text-transform: uppercase;
  text-align: center;
  background: rgba($color07, 0.7);
  border: solid 1px $color08;
  width: 222px;
  padding: 14px 10px;
}
.scroll_foto {
  margin: -50px 0 0;
}
.slide {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.arrow_previous {
  background-image: url(../images/arrow_prev.svg);
  position: absolute;
  bottom: 230px;
  height: 40px;
  width: 40px;
}
.arrow_next {
  background-image: url(../images/arrow_next.svg);
  position: absolute;
  right: 0px;
  bottom: 230px;
  height: 40px;
  width: 40px;
}
