$basic-margin: 16px;
$basic-color: #e2e2e2;
$color01: white;
$color02: black;
$color03: #d0dfda;
$color04: #4a4a4a;
$color05: #5a5a5a;
$color06: #848484;
$form-background: #969696;
$color07: #efefef;
$color08: #bfbfbf;
